# Supabase — copiá desde tu proyecto en supabase.com > Settings > API
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=eyJh...
SUPABASE_SERVICE_KEY=eyJh...

# Puerto del servidor local
PORT=8100

# RCON del juego (no cambiar)
RCON_HOST=190.174.183.144
RCON_PORT=25575
RCON_PASS=dani123

# Clave admin para el panel (cambiala!)
ADMIN_KEY=dani_admin_2024
